{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openrouter": {
      "options": {
        "apiKey": "{env:OPENROUTER_API_KEY}"
      }
    },
    "llamacpp": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama-server (local)",
      "options": {
        "baseURL": "http://127.0.0.1:8080/v1"
      },
      "models": {
        "unsloth/Qwen3-Coder-30B-A3B-Instruct-GGUF:Q5_K_M": 
        {
          "name": "Qwen3-Coder 30B A3B Q5_K_M (local)",
          "limit": {
            "context": 131072,
            "output": 32768
          }
        },
        "unsloth/Qwen3.6-27B-GGUF:UD-Q5_K_XL": {
          "name": "Qwen3.6-27B UD-Q5_K_XL (local)",
          "limit": {
            "context": 131072,
            "output": 32768
          }
        }
      }
    }
  }
}
