{
    "bitbucket-oauth": {},
    "github-oauth": {
        "github.com": "{{ onepasswordRead "op://Private/github.com/COMPOSER_GITHUB_API_TOKEN" }}"
    },
    "gitlab-oauth": {},
    "gitlab-token": {},
    "http-basic": {},
    "bearer": {}
}
