[user]
	name = John Doe
	email = foo@example.com
[alias]
	co = checkout
	st = status
	ci = commit
	pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	excludesfile = ~/.gitignore
	editor = mate -w
[branch]
	autosetuprebase = always