[user]
	name = John Doe
	email = foo@example.com
[alias]
	co = checkout
	st = status
	ci = commit
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	excludesfile = ~/.gitignore
	editor = mate -w
[branch]  
	autosetuprebase = always